body {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: block;
}

#root {
    width: 100%;
    height: 100%;
}

table,
th,
td {
    border: 1px solid white;
    text-align: left;
    border-collapse: collapse;
}

table {
    margin-bottom: 1em;
    overflow-x: auto;
    display: block;
    cursor: cell;
}

.table-header {
    margin-bottom: 0.2rem;
    color: #CCC;
}

tr:hover {
    background-color: #EEE;
}

tr:hover>th,
tr:hover>td {
    border-bottom: 1px solid black;
}

td:hover,
th:hover {
    background-color: #FFF;
}

th {
    padding: 2px 5px;
}

#cellInfo {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    border-top: 2px solid black;
    background: white;
}

#innerCellInfo {
    padding: 0em 1em;
}

input {
    display: inline-block;
    background: white;
    border: 1px solid #CCC;
    padding: 0.3em 0.5em;
    margin-right: 0.4em;
    margin-left: 0.1em;
}

label {
    display: inline-block;
}

#value-input {
    min-width: 50%;
}

#version-info {
    position: fixed;
    top: 0;
    right: 0px;
    padding: 5px;
    text-shadow: 0px 0px 3px rgb(187, 121, 187);
}

@media only screen and (min-width: 620px) {
    #cellInfo {
        position: fixed;
        width: 600px;
        bottom: 0px;
        right: 0px;
        border-top: 2px solid black;
        background: white;
        border-left: 1px solid black;
    }
}